.Login {
    text-align: center;
    background-color: rgba(255,255,255,0.5);
}

.Login-link {
    color: #b05236;
}

h1 {
    font-style: italic;
    font-size: 50px;
    color: antiquewhite;
    font-weight: 100;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    
}

body {
    background-size: cover;
    background-position: center top; /*Center the image */
    background-image: url(./images/login_background.jpg);
    background-repeat: no-repeat;
}

section {
    background-color: rgba(139, 69, 19, 0.447);
}

.Button a {
    background-color: transparent;
    color: #b05236;
    width: 150px;
     
}

a {
    color: #b05236;
    font-family: 'Times New Roman', Times, serif;
    /* font-size: medium */
}


p {
    color: black;
    font-style: normal;
  }

  