.Login {
    text-align: center;
    margin-top: 75px;
}

.Login-link {
    color: #b05236;
}

button.login_button{
    height: fit-content;
    width: 200px;
    padding: 10px;
    margin: auto;
    background-color: #b05236;
    border-radius: 15px;
    border: 2px solid #e2ebe5;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: large;
    color: #e2ebe5;

}

.login_button:hover{
    background-color: #e2ebe5;
    color: #b05236;
    transform: 0.7s;
    
}

.Examples {
    text-align: center;
    margin-top: 325px;
}

h1 {
    font-size: 75px;
    color: #e2ebe5;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif sans-serif
    
}

body {
    background-size: cover;
    background-position: center top; /*Center the image */
    background-image: url(./images/login_background.jpg);
    background-repeat: no-repeat;
}


p {
    color: black;
    font-style: normal;
  }

  