.SongSearch {
  text-align: center;
  align-items: center;
  background-color: #d07d57;
  
}

.SongSearch-tentative {
  text-align: left;
  background-color: black;
  
}

.SongSearch-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .SongSearch-logo {
    animation: SongSearch-logo-spin infinite 20s linear;
  }
}

.SongSearch-header {
  background-color: rgba(33, 37, 40, 0.258);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.SongSearch-link {
  color: #61dafb;
}

@keyframes SongSearch-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p {
  color: aliceblue;
  font-style: normal;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0px;
}

li {
  display: inline;
}

fieldset {
  padding-left: 0px;
}
legend {
  font-size: larger;
  font-family: "Courier New", Courier, monospace;
}
button.search_button{
  height: fit-content;
  width: 200px;
  padding: 10px;
  margin: auto;
  background-color: #b05236;
  border-radius: 15px;
  border: 2px solid #e2ebe5;
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: large;

}

.search_button:hover{
  background-color: #e2ebe5;
  color: #b05236;
  transform: 0.7s;
  
}
.SongSearch a {
  color: #e2ebe5;
  text-decoration: none;
  font-weight: bold;
  font-size: 50px;
  margin: 30px;

}

.SongSearch a:hover {
  color: black;
}




  
